<section class="who_we_are_area" id="about">
  <div class="container">
    <div class="row who_we_inner">
      <div class="col-md-5">
        <div class="who_we_left_content">
          <div class="main_w_title">
            <h2>
              Who <br class="title_br" />
              Are We?
            </h2>
          </div>
          <p>
            JSP Construction is dedicated on providing customers with highest quality service. JSP Construction established in 2020, based in the Houston Metropolitan area, provide expertise in Industrial facilities, Municipal Construction Services, Commercial and Residential Construction.
          </p>
          <p>
            We have highly qualified staff with combined experience of 40 years.
          </p>
          <p>
            Our services include Commercial Metal Building, Repairs and Fabrication.
          </p>
          <div class="border_bar"></div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="who_we_image">
          <img src="../../../assets/images/construction/workers.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
