<app-navigation></app-navigation>
<!-- <div class="bgimg-1" id="home"> -->
  <!-- <div class="caption">
    <span class="border">
      <app-home-center-content></app-home-center-content>
    </span>
  </div> -->
<!-- </div> -->
<div class="divider"></div>
<app-home-center-content></app-home-center-content>
<app-focus></app-focus>
<app-about></app-about>
<app-ab-residential></app-ab-residential>
<app-ab-commercial></app-ab-commercial>
<app-feedback></app-feedback>
<app-contact></app-contact>
<app-copyright></app-copyright>