
<div class="container">
<div class="row">
  <div class="column">
    <img src="../../../assets/images/construction/house1.jpeg" alt="Snow" style="height: 400px; width: 100%;">
    <div class="centered1">Residential Construction</div>
    <div class="member_name1" >
        <a href="/residential" style="color: white;">
          <h4> Explore Residential</h4>
        </a>
    </div>
  </div>
  <div class="column">
    <img src="../../../assets/images/construction/Picture1.jpg" alt="Snow" style="height: 400px; width:100%">
    <div class="centered2">Commercial Construction</div>
    <div class="member_name2">
      <a href="/commercial" style="color: white;">
        <h4> Explore Commercial</h4>
      </a>
    </div>
  </div>
</div>
</div>






<!-- <section class="our_team_area">
  <div class="container">
    
    <div class="team_slider owl-carousel">
      <div class="item">
        <a href="/residential">
          <div class="team_item">
            <div class="team_image">
              <img src="../../../assets/images/construction/city.jpg" alt="">
            </div>
            <div class="member_name">
              <a href="/residential">
                <h4>Residential</h4>
              </a>
            </div>
          </div>
        </a>
      </div>

      <div class="item">
        <a href="/commercial">
          <div class="team_item">
            <div class="team_image">
              <img src="../../../assets/images/construction/pillars.jpg" alt="">
            </div>
            <div class="member_name">
              <a href="/commercial">
                <h4>Commercial</h4>
              </a>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section> -->