<section class="who_we_are_area" id="about">
    <div class="container">
      <div class="row who_we_inner">
        <div class="col-md-5">
          <div class="who_we_right_content">
            <div class="main_w_title">
              <h2>
                Commercial <br class="title_br" />
                Construction
              </h2>
            </div>
            <p>
              With more than 25 years of experience and team of experts, Innovative Construction offers clients with all necessary services to properly manage and transform your property. 
            </p>
            <p>
              We have highly qualified staff with combined experience of 25 years.
            </p>
            <p>
              Our services include architecture, engineering, design, remodel and new construction.
            </p>
            <div>
              <a href="/commercial">Learn More</a>
            </div>
            <div class="border_bar"></div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="who_we_image">
            <img src="../../../assets/images/construction/building-const.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>