<section class="who_we_are_area" id="about">
  <div class="container">
    <div class="row who_we_inner">
      <div class="col-md-5">
        <div class="who_we_left_content">
          <div class="main_w_title">
            <h2>
              About <br class="title_br" />
              Innovative
            </h2>
          </div>
          <p>
            At Innovative Construction, we provide customized general contractor and construction management services for commercial and residential projects.  
          </p>
          <p>
            Unlike large firms, we are 100% focused on working with you to develop the “right” project that aligns with your needs.  
            We have the ability to provide turn-key solutions including architectural, engineering, design and construction services.
          </p>
          <p>
            Partner with our professionals and experience our passion to deliver safe, high-quality, high value custom alterations or new construction.  
            We are based in the Houston Metropolitan are but provide services all over Texas.
          </p>
          <div class="border_bar"></div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="who_we_image">
          <img src="../../../assets/images/construction/josh/About-Innovative.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
