<div class="container">
    <div class="row focus_area">

        <div class="col-sm-3">
            <div class="media">
                <div class="media-bottom">
                  <img src="../../../assets/images/icon/place-icon.png" alt="">
                </div>
                <div class="media-body">
                    <h4>Client-first</h4>
                    <h5>We serve our clients and are available 24/7 for their needs</h5>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="media">
                <div class="media-bottom">
                  <img src="../../../assets/images/icon/place-icon.png" alt="">
                </div>
                <div class="media-body">
                    <h4>Expertise</h4>
                    <h5>Experts on each aspect of construction</h5>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="media">
                <div class="media-bottom">
                  <img src="../../../assets/images/icon/place-icon.png" alt="">
                </div>
                <div class="media-body">
                    <h4>Quality</h4>
                    <h5>One thing Innovative gives much priority to: QUALITY</h5>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="media">
                <div class="media-bottom">
                  <img src="../../../assets/images/icon/place-icon.png" alt="">
                </div>
                <div class="media-body">
                    <h4>Value</h4>
                    <h5>We want our customers to always come to us and we make sure with the work we do.</h5>
                </div>
            </div>
        </div>
    </div>

</div>