<div class="container">
    <div class="row focus_area">

        <div class="col-md-2">
            <div class="media">
                <div class="media-bottom">
                  <img src="../../../assets/images/construction/icon/plus.png" alt="">
                </div>
                <div class="media-body">
                    <h4>Safety</h4>
                    <h5>We are laser focused on SAFELY executing every project.</h5>
                </div>
            </div>
        </div>
        
        <div class="col-md-2">
            <div class="media">
                <div class="media-bottom">
                  <img src="../../../assets/images/construction/icon/first.png" alt="">
                </div>
                <div class="media-body">
                    <h4>Client-first</h4>
                    <h5>Our CLIENT’S needs come FIRST.  We do not consider ourselves successful until we have successfully help our clients achieve their goals.</h5>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="media">
                <div class="media-bottom">
                  <img src="../../../assets/images/construction/icon/triangle.png" alt="">
                </div>
                <div class="media-body">
                    <h4>Expertise</h4>
                    <h5>We help our clients achieve their goals by bringing EXPERTISE in all aspects of architecture, engineering, design and construction.</h5>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="media">
                <div class="media-bottom">
                  <img src="../../../assets/images/construction/icon/Buildings.png" alt="">
                </div>
                <div class="media-body">
                    <h4>Quality</h4>
                    <h5>We pride ourselves in the quality of our projects.  Our quality standards are met or exceeded on every project.</h5>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="media">
                <div class="media-bottom">
                  <img src="../../../assets/images/construction/icon/target1.png" alt="">
                </div>
                <div class="media-body">
                    <h4>Value</h4>
                    <h5>Our business model brings the most value to our clients as we marry Safety, Client Service, Expertise and Quality to engineer, design and build world class facilities</h5>
                </div>
            </div>
        </div>
    </div>

</div>