
<div class="container">
<div class="row our_projects_inner">
  <div class="col-lg-6">
    <img src="../../../assets/images/construction/josh/Explore-Residential.jpg" alt="Snow" style="height: 400px; width: 100%;">
    <div class="centered"><h2 style="color: rgb(253, 253, 253); font-weight: bold;">Residential Construction</h2></div>
    <div class="member_name" >
        <a href="/residential" style="color: white;">
          <h4> Explore Residential</h4>
        </a>
    </div>
  </div>
  <div class="col-lg-6">
    <img src="../../../assets/images/construction/josh/Explore-Commercial.jpg" alt="Snow" style="height: 400px; width:100%">
    <div class="centered"><h2 style="color: rgb(253, 253, 253); font-weight: bold;">Commercial Construction</h2></div>
    <div class="member_name">
      <a href="/commercial" style="color: white;">
        <h4> Explore Commercial</h4>
      </a>
    </div>
  </div>
</div>
</div>






<!-- <section class="our_team_area">
  <div class="container">
    
    <div class="team_slider owl-carousel">
      <div class="item">
        <a href="/residential">
          <div class="team_item">
            <div class="team_image">
              <img src="../../../assets/images/construction/city.jpg" alt="">
            </div>
            <div class="member_name">
              <a href="/residential">
                <h4>Residential</h4>
              </a>
            </div>
          </div>
        </a>
      </div>

      <div class="item">
        <a href="/commercial">
          <div class="team_item">
            <div class="team_image">
              <img src="../../../assets/images/construction/pillars.jpg" alt="">
            </div>
            <div class="member_name">
              <a href="/commercial">
                <h4>Commercial</h4>
              </a>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section> -->