<section class="who_we_are_area" id="about">
    <div class="container">
      <div class="row who_we_inner">
        
        <div class="col-md-7">
          <div class="who_we_image">
            <img src="../../../assets/images/construction/house1.jpeg" alt="" />
          </div>
        </div>
        
        <div class="col-md-5">
          <div class="who_we_left_content">
            <div class="main_w_title">
              <h2>
                Residential <br class="title_br" />
                Construction
              </h2>
            </div>
            <p>
              Innovative Construction is dedicated on providing customers with highest quality service. Construction based in the Houston Metropolitan area, provide expertise in Commercial and Residential Construction.
            </p>
            <p>
              We have highly qualified staff with combined experience of 40 years.
            </p>
            <p>
              Our services include architecture, engineering, design, remodel and new construction.
            </p>
            <div>
              <a href="/residential">Learn More</a>
            </div>
            <div class="border_bar"></div>
          </div>
        </div>
        
      </div>
    </div>
  </section>